.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}

.mai {
  /* background-image: url'./background.jpg';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; */
  color: white;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  /* background image position 40 pixels away from the left side and 50 pixels down from the top.*/
  /* background-position: 40px 50px; */
  background-size: cover;
  /* don't repeat img */
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}